@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: var(--fonte-principal);
  display: flex;
  flex-direction: column;
}

:root {
  --branco: #ffffff;
  --cor-destaque: #8e2424;
  --texto-cinza-claro: #667085;
  --texto-cinza-escuro: #101828;
  --cor-de-fundo: rgba(142, 36, 36, 0.05); /*opacidade 3%*/
  --cinza-rodape: #98a2b3;
  --fonte-principal: 'Inter', sans-serif;
  --cor-borda: #eaecf0;
  --fonte-regular: 400;
  --fonte-medium: 500;
  --fonte-semiBold: 600;
  --cor-borda: #eaecf0;
}

/* Barra de navegação */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.125rem 5rem;
}

.barra-navegacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2rem;

  width: 80rem;
  height: 2.75rem;
}

img,
.logo {
  justify-content: flex-start;
  height: 1.68rem;
  width: 9.25rem;
}

.barra-navegacao__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link__texto {
  font-weight: var(--fonte-medium);
  font-size: 1rem;
  text-decoration: none;
  color: var(--texto-cinza-claro);
}

.link__texto:hover {
  color: var(--texto-cinza-escuro);
}

.separacao {
  width: 8.875rem;
  height: 2rem;
}

.barra-navegacao__botao {
  display: flex;
  gap: 0.75rem;
}

.botao__entrar,
.botao__cadastrar {
  text-decoration: none;
  font-weight: var(--fonte-medium);
  font-size: 1rem;
}

.botao__entrar {
  color: var(--texto-cinza-claro);
  background-color: var(--branco);
  padding: 0.625rem 1.125rem;
}

.botao__entrar:hover {
  color: var(--texto-cinza-escuro);
}

.botao__cadastrar {
  color: var(--branco);
  background-color: var(--cor-destaque);
  padding: 0.625rem 1.125rem;
  border-radius: 0.5rem;
}

.botao__cadastrar:hover {
  color: var(--texto-cinza-escuro);
}

/* Cebeçalho */

.conteudo__cabecalho-sobrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  gap: 1.5rem;
}

.cabecalho__subtitulo {
  font-size: 1rem;
  font-weight: var(--fonte-semiBold);
  color: var(--cor-destaque);
}

.cabecalho__titulo {
  font-size: 3rem;
  font-weight: var(--fonte-semiBold);
  color: var(--texto-cinza-escuro);
}

.cabecalho__texto {
  font-size: 1.25rem;
  font-weight: var(--fonte-regular);
  color: var(--texto-cinza-claro);
  width: 49rem;
  text-align: center;
}

.conteudo__metricas {
  display: flex;
  padding: 0 0 6rem 0;
  justify-content: center;
  align-items: center;
}

.metricas {
  display: flex;
  flex-direction: row;
  width: 80rem;
  height: 12rem;
  align-items: center;
  gap: 2rem;
}

.metr {
  width: 17.5rem;
}
.metr__numero {
  font-size: 3.75rem;
  font-weight: var(--fonte-semiBold);
  color: var(--cor-destaque);
  margin-bottom: 0.75rem;
}

.metr__subtexto {
  font-size: 1.125rem;
  font-weight: var(--fonte-medium);
  color: var(--texto-cinza-escuro);
  margin-bottom: 0.5rem;
}

.metr__paragrafo {
  font-size: 1rem;
  font-weight: var(--fonte-regular);
  color: var(--texto-cinza-claro);
}

/* Vagas */
.conteudo__vagas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.conteudo__vagas-introducao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.vagas__subtitulo {
  display: flex;
  font-size: 0.875rem;
  font-weight: var(--fonte-medium);
  color: var(--cor-destaque);
  background-color: var(--cor-de-fundo);
  width: 7.82rem;
  height: 1.75rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.vagas__titulo {
  font-size: 2.25rem;
  font-weight: var(--fonte-semiBold);
  color: var(--texto-cinza-escuro);
  margin-bottom: 1.25rem;
}

.vagas__texto {
  font-size: 1.25rem;
  font-weight: var(--fonte-regular);
  color: var(--texto-cinza-claro);
  margin-bottom: 4rem;
}

.vagas__banner {
  width: 76rem;
  height: 25rem;
}

.conteudo__vagas-vagasabertas {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.vaga__container {
  display: grid;
  gap: 1.5rem;
}

.setor__vaga {
  font-size: 1.25rem;
  font-weight: var(--fonte-medium);
  color: var(--texto-cinza-escuro);
}

.vaga-aberta {
  width: 48rem;
  height: 8.5rem;
  border: 1px solid var(--cor-borda);
  border-radius: 1rem;
  padding: 1.5rem;
  padding-bottom: 1.75rem;
}

.vaga__nome {
  font-size: 1.125rem;
  font-weight: var(--fonte-medium);
  margin-bottom: 2rem;
}

.vaga__detalhe {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: var(--fonte-medium);
  color: var(--texto-cinza-claro);
}
